@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url('bgsn.png');
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 29px;
    font-weight: bold;
    font-family: 'Lilita One', cursive;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 172px;
    font-size: 29px;
    font-weight: bold;
    font-family: 'Lilita One', cursive;
}

#board{
    background: linear-gradient(rgb(253, 255, 253), rgb(252, 252, 249));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    border-radius: 5px;
}

.head{
    background: linear-gradient(rgb(142, 209, 127), rgb(20, 57, 13));
    border: 2px solid rgb(31, 27, 31);
    transform: scale(1.02);
    border-radius: 14px;
}

.snake{
    background-color: rgb(14, 67, 5);
    border: .25vmin solid white;
    border-radius: 21px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 19px;
    /* height: 23px;
    width: 23px; */
}